body {
    font-family:monospace;
    font-size:16px;
    background-color: rgb(92, 180, 180);
    background-image: linear-gradient(69deg,lightblue, transparent);
    }
    .addr {
    width:35px;
    }
    .result {
        border-bottom: 1px solid #6a6ade;
        border-right: 1px solid #6a6ade;
        }
        .result .label {
        display:inline-block;
        width:250px;
        font-size: larger;
        }
